<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
    <tr>
        <td style="font-size: 18px; text-align: center;">
            {{name}} Welcome on our platform!
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <p style="margin: 17px 0 0;">
               Вам потрібпо підтвердити ваш імейл,будь ласка, натисніть на кнопку
            </p>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <button class="btn">
                <a style="color: white;  text-decoration: none; " href="http://localhost:5005/login/{{actionToken}}">Натисніть для верифікації імейла</a>
            </button>
        </td>
    </tr>
</table>
