<table style="width: 100%; padding: 10px 35px; background-color: #072E50; color:white; box-sizing: border-box; " >
    <tr>
        <td style="font-size: 14px; text-align: center;">
            CookBook © 2023
        </td>
        <td style="font-size: 14px; text-align: center; margin-left: 30vw">
            <p>Готувати легко, якщо разом</p>
        </td>
    </tr>
</table>
