<table style="width: 100%; padding: 4px 35px; background-color: #072E50; color:white; box-sizing: border-box">
    <tr>
        <td>
            <img style="width: 100px; height: 100px; margin: 0"
                 src="https://i.postimg.cc/5yhDD9Wq/logo.png"
                 alt="logo">
        </td>
    </tr>
</table>


